body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.input-group{
	padding-top:  1.5rem;
}
.btn{
	align-self: flex-end;
}

.cover-heading{
	text-align: center;
	
}